<div class="container">
  <h1 class="mt-3">Listes des films</h1>

  <div class="d-flex justify-content-end mt-3">
    <!--<a [routerLink]="['/admin/film/add']" class="btn btn-primary">Ajouter un film</a>-->
  </div>

  <ng-container *ngIf="films && films.length > 0; else noFilms">
    <table class="table table-bordered mt-3">
      <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Popularity</th>
        <th>Date</th>
        <th>Number of Votes</th>
        <th>Vote Average</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let film of films">
        <td>{{ film.id }}</td>
        <td>{{ film.title }}</td>
        <td>{{ film.popularity }}</td>
        <td>{{ film.releaseDate | date: 'shortDate' }}</td>
        <td>{{ film.voteCount }}</td>
        <td>{{ film.voteAverage }}</td>
        <td>
          <a class="btn btn-light" [routerLink]="['/admin/film/edit', film.id]">Edit</a>
        </td>
      </tr>
      </tbody>
    </table>
  </ng-container>

  <ng-template #noFilms>
    <p class="mt-3 text-center">Aucun film trouvé.</p>
  </ng-template>
</div>
