.card-img-top {
  object-fit: cover; /* Remplit la largeur et ajuste la hauteur en fonction */
  width: 100%;       /* Prend toute la largeur */
  height: 200px;     /* Hauteur fixe */
  max-height: 200px; /* Hauteur maximale */
}

.card-header {
  font-size: 1.2rem;
  font-weight: bold;
}

.form-label {
  color: #e9ecef; /* Couleur texte pour contraster avec le fond */
  font-weight: 500; /* Rendre les labels plus visibles */
}

.form-control, .form-select {
  border: 1px solid #ced4da;
  background-color: #f8f9fa;
}
